.achievementUnlock {
   position: fixed;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   background: var(--main-color);
   padding: 15px;
   border-radius: 25px;
   cursor: pointer;
   width: 250px;
   font-size: large;
   animation: achievementShow 0.5s ease-in-out;
}

.achievementUnlock #achievementIcon i {
   float: left;
   margin-right: 5px;
   transform: translateY(2px);
}

@keyframes achievementShow {
   0% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(-20px);
      backdrop-filter: blur(15px);
   }

   100% {
      opacity: 1;
      transform: translate(-50%, -50%);
      backdrop-filter: blur(0px);
   }
}

/* Show Achievement */
#showAchievementUnlock .unlockDate {
   color: var(--text-semi-transparent);
}

#unlocked {
   color: var(--success-color);
   font-size: 14px;
}

#unlocked i {
   color: var(--success-color);
}

#unlocked.notUnlocked {
   color: var(--error-text);
}

#unlocked.notUnlocked i {
   color: var(--error-text);
}

.note.locked {
   opacity: 0.5;
}