.aurideAccounts,
.recommendedAccounts {
   top: 0;
   right: 0;
   margin-top: 75px;
   margin-right: 15px;
   text-align: right;
   border: 1px solid var(--text);
   padding: 15px;
   padding-bottom: 0px;
   border-radius: 10px;
   position: fixed;
}

@media (max-width: 1148px) {
   .recommendedAccounts {
      display: none;
   }

   .aurideAccounts {
      display: none;
   }
}

@media (max-width: 1148px) {
   .recommendedAccounts {
      display: none;
   }

   .aurideAccounts {
      display: none;
   }
}

.aurideAccounts .recommendAcc-pfp,
.recommendedAccounts .recommendAcc-pfp {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   float: left;
   margin-top: 10px;
}

.aurideAccounts #katninyDisplay,
.recommendedAccounts #user1Display {
   float: left;
   margin-top: 10px;
   margin-left: 8px;
   transform: translateY(5px);
   overflow-wrap: break-word;
}

.aurideAccounts #katninyDisplay .emoji,
.recommendedAccounts #user1Display .emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.aurideAccounts #katninyUser-pronouns,
.recommendedAccounts #user1User-pronouns {
   float: left;
   margin-top: 10px;
   transform: translate(-60px, 5px);
   color: var(--text-semi-transparent);
   overflow-wrap: break-word;
   max-width: auto;
}

.recommendedAccounts #user1User-pronouns {
   transform: translate(-98px, 5px);
}

.aurideAccounts #auridePfp,
.recommendedAccounts #user2Pfp {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   float: left;
}

.aurideAccounts #aurideDisplay,
.recommendedAccounts #user2Display {
   float: left;
   margin-top: 10px;
   margin-left: 8px;
   transform: translateY(5px);
}

.aurideAccounts #aurideUser-pronouns,
.recommendedAccounts #user2User-pronouns {
   float: left;
   margin-top: 10px;
   transform: translate(-96px, 5px);
   color: var(--text-semi-transparent);
}

.aurideAccounts #katninystudiosPfp,
.recommendedAccounts #user2Pfp {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   float: left;
}

.aurideAccounts #katninystudiosDisplay,
.recommendedAccounts #user2Display {
   float: left;
   margin-top: 10px;
   margin-left: 8px;
   transform: translateY(5px);
}

.aurideAccounts #katninystudiosUser-pronouns,
.recommendedAccounts #user2User-pronouns {
   float: left;
   margin-top: 10px;
   transform: translate(8px, -27px);
   color: var(--text-semi-transparent);
}

.recommendedAccounts #user2User-pronouns {
   transform: translate(-122px, 5px);
}

.aurideAccounts .followBtn,
.recommendedAccounts .followBtn {
   background: transparent;
   padding: 5px;
   border-radius: 15px;
   border: 1px solid var(--main-color);
   transform: translateY(5px);
   cursor: pointer;
   transition: all 0.1s linear;
}

.aurideAccounts .followBtn:hover,
.recommendedAccounts .followBtn:hover {
   background: var(--main-color);
   padding: 5px;
   border-radius: 15px;
}

.recommendedAccounts {
   margin-top: 285px;
}

.aurideAccounts i {
   color: var(--main-color);
}

.aurideAccounts i.fa-solid.fa-circle-check {
   margin-left: 5px;
}