.aurora {
   width: 75px;
}

.aurora.auroraFloat {
   animation: sheFloat 0.8s ease-in-out infinite;
}

@keyframes sheFloat {
   0% {
      transform: translateY(0px);
   }
   50% {
      transform: translateY(-5px);
   }
   100% {
      transform: translateY(0px);
   }
}