/* a styling */
a {
   color: var(--main-color);
}

a:hover {
   color: var(--main-color-darker);
   text-decoration: none;
}

/* input */
input {
   background: transparent;
   font-size: 18px;
   margin-top: 10px;
   padding: 5px;
   width: 98%;
   border-radius: 5px;
   outline: none;
   border: 1px solid black;
   resize: none;
   transition: all 0.15s linear;
}

input:focus {
   border: 1px solid var(--main-color);
}

/* buttons */
button {
   background: transparent;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid var(--main-color);
   margin-top: 5px;
   cursor: pointer;
   color: var(--button-text);
   transition: all 0.1s linear;
}

button:hover {
   background: var(--main-color);
   color: var(--hovered-button-text);
}

button:hover i {
   color: var(--hovered-button-text);
}

button.disabled {
   opacity: 0.5;
}

.dangerButton {
   border: 1px solid var(--error-text);
}
.dangerButton:hover {
   background: var(--error-text);
}

/* list */
ul li {
   margin-left: 15px;
}