.downloadLogo {
   display: block;
   margin: 0 auto;
   width: 450px;
}

#downloadPage {
   text-align: center;
   margin-left: 15px;
}

#downloadPage .align-left {
   text-align: left;
}

#downloadPage .align-right {
   text-align: right;
}