select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;
   background: transparent;
   background-image: none;
   border-radius: 5px;
   border: 1px solid var(--main-color);
   padding: 5px;
   margin-top: 5px;
}