/* import transsocial fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap'); /* For monospace */

:root {
   --background: #1d1d1d;
   --main-color: #ff869a;
   --main-color-darker: #e1788a;
   --header-color: #2d2d2d;
   --text: #fff;
   --text-half-transparent: rgba(255, 255, 255, 0.5);
   --text-semi-transparent: rgba(255, 255, 255, 0.7);
   --profile-picture-bg: #363636;
   --sidebar-button-hover: #3d3d3d;
   --button-transparent-hover: #2d2d2d;
   --success-color: #00dc00;
   --warning-text: #ffff00;
   --error-text: #ff0000;
   --sidebar-text: #fff;
   --banner-button-bg: #000;
   --note-seperator: #2d2d2d;
   --sidebar-button-border: transparent;
   --modal-background: #000;
   /* Don't change this, it breaks a lot for some reason? */
   --modal-bg: rgba(255, 134, 154, 0.5);
   --like-color: red;
   --renote-color: #84dd00;
   --content-warning: #1d1d1d;
   --skeleton-start: #404040;
   --skeleton-middle: #303030;
   --skeleton-end: #252525;
   --reply-background: #303030;
   --reply-hovered-background: #3f3f3f;
   --note-background: #282828;
   --header-shadow: rgba(0, 0, 0, 0.1);
   --zoom-level: 1;
   --button-text: #fff;
   --hovered-button-text: #000;
   --sidebar-create-note-button: #fff;
   --sidebar-create-note-button-hover: #fff;
}