.header {
   position: fixed;
   top: 0;
   left: 0;
   height: 60px;
   width: 100%;
   background: var(--header-color);
   box-shadow: 0 2px 5px var(--header-shadow);
   z-index: 2;
   /* make sure header is above sidebar */
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
}

.header .center {
   flex: 1;
   display: flex;
   justify-content: center;
}

.header .center input {
   max-width: 550px;
   margin: 0;
   padding: 5px;
   transform: translateX(-75px);
}

@media (max-width: 1148px) {
   .header .center {
      display: none;
   }
}

.header .right {
   display: flex;
   align-items: center;
}

.header .right i {
   margin-right: 10px;
}

.header .right button {
   margin-top: 45px;
}

.header .right img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-left: 5px;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
}

.header .right img:hover {
   transform: scale(1.1);
   /* slightly enlarge the image on hover */
}

.header .headerLogo {
   height: 55px;
   margin-top: 5px;
   margin-left: 5px;
}

@media (max-width: 1149px) {
   .header .right {
      transform: translate(-5px, -53px);
   }
}

@media (max-width: 444px) {
   .header .right {
      display: none;
   }
}

/* hamburger menu 
here since it's part of header */
#hamburgerMenu {
   font-size: x-large;
   margin-left: 5px;
   text-align: left;
   transform: translateY(-20px);
   background: transparent;
   border: 1px solid transparent;
}

@media (min-width: 1149px) {
   #hamburgerMenu {
      display: none;
   }
}

/* fix header breaking on mobile */
@media (max-width: 510px) {
   #transsocialHeaderLogo {
      transform: translate(45px, 0px);
   }

   #hamburgerMenu {
      display: block;
      position: fixed;
      transform: translateY(5px);
   }
}