/* info good */
.infoGood {
    color: var(--success-color);
}

.infoGood i {
    color: var(--success-color);
}

/* warnings */
.infoWarning {
    color: var(--warning-text);
}

.infoWarning i {
    color: var(--warning-text);
}

/* caution info */
.infoCaution {
    color: var(--error-text);
}

.infoCaution i {
    color: var(--error-text);
}