.mainPoint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px;
    gap: 20px;
}

.mainPoint .textContent {
    max-width: 600px;
}

.mainPoint .imageContent img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

@media (max-width: 900px) {
    .mainPoint {
        flex-direction: column;
        text-align: center;
    }
}