#toolbar {
   position: absolute;
   background-color: var(--note-background);
   border: 1px solid var(--main-color);
   padding: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   display: none;
}

#toolbar button {
   margin-right: 5px;
   padding: 5px 10px;
}