.messages {
   flex: 1 1 auto;
   padding: 10px;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   height: 45vh;
   transform: translateY(90px);
}

@media (max-height: 858px) {
   .messages {
      height: 35vh;
   }
}