.header_userInfo {
   width: 95.5%;
   background: var(--background);
   height: 50px;
   padding: 10px;
   border-radius: 15px;
   position: fixed;
}

.header_userInfo img {
   border-radius: 50%;
   width: 50px;
   height: 50px;
   float: left;
}

.header_userInfo .display {
   float: left;
   margin-left: 7px;
   margin-top: 7px;
}

.header_userInfo .username {
   float: left;
   width: 100%;
   margin-left: 57px;
   transform: translateY(-25px);
   color: var(--text-semi-transparent);
}

.person .display {
   float: left;
}