.notes {
   margin-left: 430px;
   max-width: 50%;
   transform: translateY(60px);
}

@media (max-width: 768px) {
   .notes {
      margin-left: 0px;
      max-width: 100%;
   }
}

@media (max-width: 1794px) {
   .notes {
      margin-left: 285px;
   }
}

@media (max-width: 1572px) {
   .notes {
      max-width: 55%;
   }
}

@media (max-width: 1402px) {
   .notes {
      max-width: 50%;
   }
}

@media (max-width: 1260px) {
   .notes {
      max-width: 45%;
   }
}

@media (max-width: 1148px) {
   .notes {
      max-width: 100%;
      margin-left: 0px;
   }
}

@media (max-width: 1148px) {
   .notes {
      max-width: 100%;
      margin-left: 0px;
   }
}