/* notes container */
.notes {
   margin-left: 430px;
   max-width: 50%;
   transform: translateY(60px);
}

@media (max-width: 1148px) {
   .notes {
      max-width: 100%;
      margin-left: 0px;
   }
}

/* version notice */
.versionNotice {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.versionNotice a {
   color: var(--main-color);
}

.versionNotice a:hover {
   color: var(--main-color-darker);
   text-decoration: none;
}

/* glitch effect */
.lore {
   position: relative;
   background-image: linear-gradient(to right, #CE1125, #a60000);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
   animation: glitch 325ms infinite;
}

.notes .note {
   max-width: 99.5%;
   border: 1px solid var(--note-seperator);
   padding-top: 10px;
   padding-bottom: 1em;
   position: relative;
   background: var(--note-seperator);
   cursor: pointer;
   border-radius: 10px;
   padding-left: 10px;
   margin-left: 12px;
   margin-right: 12px;
   margin-top: 12px;
}

.notes .note.inactive {
   opacity: 50%;
}

.notes .note:last-child {
   top: -12px;
   margin-top: 24px;
}

.note .notePfp {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid transparent;
   float: left;
   margin-left: 10px;
   cursor: pointer;
   background: var(--profile-picture-bg);
   position: relative;
   content: "";
   top: 0;
   left: 0;
   background: linear-gradient(to right,
         var(--skeleton-start),
         var(--skeleton-middle),
         var(--skeleton-end));
   background-size: 200% 100%;
   animation: skeletonLoading 1.5s ease-in-out infinite;
}

.note iframe {
   transform: translateY(10px);
}

@keyframes skeletonLoading {
   0% {
      background-position: -100% 0;
   }

   100% {
      background-position: 100% 0;
   }
}

.note .noteText {
   margin-top: 15px;
   margin-left: 10px;
   margin-right: 10px;
   overflow-wrap: break-word;
   margin-top: 15px;
   padding-top: 10px;
   margin-bottom: 10px;
   padding-left: 5px;
}

.noteText code { /* style the monospace stuff */
   font-family: "Inconsolata", monospace;
   background: var(--background);
}

.noteText li {
   margin-left: 15px;
}

.noteText .emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.note .noteText a {
   color: var(--main-color);
}

.note .noteText a:hover {
   color: var(--main-color-darker);
   text-decoration: none;
}

.note .noteDisplay {
   margin-left: 10px;
   font-size: large;
   text-decoration: none;
   color: var(--text);
}

.note .noteDisplay .emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.note .noteDisplay .noteBadges i {
   color: var(--main-color);
}

.note .noteDisplay:hover {
   text-decoration: underline;
}

.note .noteDisplay i.fa-solid.fa-circle-check.fa-sm {
   margin-left: 0px;
}

.note .noteDisplay i {
   margin-left: 3px;
}

.note .noteUsername {
   color: var(--text-semi-transparent);
   margin-left: 10px;
   text-decoration: none;
}

.note .noteUsername:hover {
   text-decoration: underline;
}

.note .noteBadges {
   margin-left: 5px;
   font-size: large;
   text-decoration: none;
}

.noteBadges i {
   color: var(--main-color);
   margin-left: 5px;
}

.noteBadges i.fa-solid.fa-circle-check {
   margin-left: 0px;
}

.note .buttonRow {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 0.5em;
   margin-left: 0.8em;
   margin-top: 1em;
   /* ^ just trying to keep it similar as it was before to keep a familar layout, sorry :( - katty */
}

.note .buttonRowExperiment {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1em;
   margin-left: 1em;
   margin-top: 1em;
   font-size: large;
}

#buttonRow {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1em;
   margin-left: 1em;
   margin-top: 1em;
   font-size: large;
}

.note .likeBtn {
   width: auto;
   cursor: pointer;
}

#likeButton {
   width: auto;
   cursor: pointer;
   max-width: 50px;
}

#likeButton.liked .fa-solid.fa-heart {
   color: var(--like-color);
}

.note .likeBtn.liked i {
   color: var(--like-color);
}

.note .renoteBtn {
   width: auto;
   cursor: pointer;
}

#renoteButton {
   width: auto;
   cursor: pointer;
   max-width: 50px;
}

#quoteRenoteButton {
   width: auto;
   cursor: pointer;
   max-width: 50px;
}

#favoriteButton {
   width: auto;
   cursor: pointer;
   max-width: 50px;
}

.note .quoteRenoteBtn {
   width: auto;
   cursor: pointer;
}

.note .favoriteBtn {
   width: auto;
   cursor: pointer;
}

#favoriteButton {
   width: auto;
   cursor: pointer;
   max-width: 50px;
}

#renoteButton.renoted .fa-solid.fa-retweet {
   color: var(--renote-color);
}

.note .renoteBtn.renoted i {
   color: var(--renote-color);
}

.note .replyBtn {
   width: auto;
   cursor: pointer;
}

.note .more {
   width: auto;
   cursor: pointer;
}

.notes .note .contentWarning {
   background: var(--content-warning);
   /*backdrop-filter: blur(20px);*/
   border-radius: 10px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   z-index: 1;
}

.notes .note .contentWarning-showBelowText {
   font-size: 12px;
   margin-left: 15px;
   color: var(--text-semi-transparent);
   margin-bottom: 5px;
}

.notes .note .contentWarning-showBelowText i {
   color: var(--text-semi-transparent);
}

.notes .note .uploadedImg {
   display: block;
   max-width: 425px;
   max-height: 425px;
   border-radius: 5px;
   margin: 5px;
}

@media (max-width: 425px) {
   .notes .note .uploadedImg {
      margin: 0px;
      max-width: 100%;
      max-height: 100%;
   }
}

.notes .note .warning {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   z-index: 1;
   border-radius: 35px;
   padding: 10px;
   font-weight: bold;
   font-size: large;
}

.notes .note .warningInfo {
   position: absolute;
   top: 20px;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   border-radius: 35px;
   padding: 10px;
}

.notes .note .closeWarning {
   position: absolute;
   top: 50px;
   left: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   z-index: 1;
   border-radius: 35px;
   padding: 7px;
}

.notes .note .closeWarning:hover {
   background: var(--main-color);
}

.notes .note .isRenote {
   color: var(--text-semi-transparent);
   margin-bottom: 5px;
   transform: translateX(7px);
}

.notes .note .isRenote i {
   color: var(--text-semi-transparent);
}

/* quote notes */
.quoteContainer {
   display: flex;
   align-items: flex-start;
   width: 50%;
   border: 1px solid var(--main-color);
   margin-left: 10px;
   border-radius: 15px;
   margin-bottom: 5px;
   transition: all 0.1s linear;
   padding: 10px;
   flex-direction: row;
}

.quoteContainer:hover {
   background: var(--profile-picture-bg);
}

@media (max-width: 596px) {
   .quoteContainer {
       width: 93%;
   }
}

.quotePfp {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
}

.quoteContent {
   display: flex;
   flex-direction: column;
   flex: 1; 
}

.quoteHeader {
   display: flex;
   flex-direction: column;
   margin-bottom: 5px;
}

.quoteDisplay {
   margin-bottom: 5px;
   word-wrap: break-word;
   word-break: break-word;
}

.quoteUsername {
   color: var(--text-semi-transparent);
   transform: translateY(-5px);
   word-wrap: break-word;
   word-break: break-word;
}

.quoteText {
   word-wrap: break-word;
   word-break: break-word;
   overflow: hidden;
   transform: translateX(-45px);
}

.quoteText .emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}