.notification {
   display: flex;
   align-items: center;
   padding: 15px;
   cursor: pointer;
   border: 1px solid var(--main-color);
   margin-bottom: 10px;
   border-radius: 35px;
   transition: all 0.1s linear;
}

.notification:hover {
   background: var(--reply-hovered-background);
   transform: translateY(-3px);
}

.notification .notificationPfp {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   margin-right: 10px;
   border: 2px solid var(--main-color);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification i {
   margin-right: 10px;
}