.openChats {
   border: 1px solid var(--note-seperator);
   width: 100%;
   margin-left: 10px;
   padding: 5px;
   border-radius: 15px;
}

@media (max-width: 500px) {
   .openChats {
      width: 100vw;
      margin-left: 0px;
      padding-right: 0px;
   }
}

.openChats p {
   text-align: center;
   margin-top: 15px;
}

.openChats .pfp {
   width: 65px;
   height: 65px;
   border-radius: 50%;
}

.openChats .person {
   border-bottom: 1px solid var(--note-seperator);
   margin-bottom: 10px;
   cursor: pointer;
}

.openChats .person:hover {
   background: var(--note-background);
}

.openChats .person .display {
   margin-left: 8px;
   position: absolute;
   margin-top: 10px;
}

.openChats .person .lastMessageSent {
   margin-left: 8px;
   color: var(--text-semi-transparent);
   text-align: left;
   margin-bottom: 10px;
}