/* Page Loader */
.loader {
   position: fixed;
   top: -200px;
   padding-bottom: 200px;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--background);
   transition: opacity 0.75s, visibility 0.75s;
   z-index: 999;
}

.loader-hidden {
   opacity: 0;
   visibility: hidden;
}

.loader p {
   position: fixed;
   transform: translateY(80px);
   text-align: center;
}

.loader #aurideLoadLong {
   /*display: none;*/
   position: fixed;
   left: 46vw;
   margin-top: 110vh; 
   color: var(--text-semi-transparent); 
   transform: translateY(0px);
   width: 100%;
   display: none;
   animation: aurideLoadLong 0.25s ease;
}

@keyframes aurideLoadLong {
   0% {
      transform: translateY(100px);
   }
   100% {
      transform: translateY(0px);
   }
}

.loader #aurideLoadFail {
   color: var(--error-text);
   transform: translateY(100px);
   display: none;
}

.loader img {
   animation: loading 1.5s ease infinite;
   height: 110px;
}

/*.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 5px solid #dddddd;
    border-top-color: var(--main-color);
    border-radius: 50%;
}*/

@keyframes loading {
   0%, 100% {
      filter: drop-shadow(0 0 6px #ef97be);
   }

   50% {
      filter: drop-shadow(0 0 15px #ffde59);
   }
}

/* No JavaScript error */
.noJavaScript {
   color: var(--error-text);
}