.loader {
   position: fixed;
   top: -200px;
   padding-bottom: 200px;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--background);
   transition: opacity 0.75s, visibility 0.75s;
   z-index: 999;
}

.loader-hidden {
   opacity: 0;
   visibility: hidden;
}

.loader p {
   position: fixed;
   transform: translateY(80px);
   text-align: center;
}

.loader #transSocialLoadLong {
   /*display: none;*/
   position: fixed;
   left: 46vw;
   margin-top: 110vh;
   color: var(--text-semi-transparent);
   transform: translateY(0px);
   width: 100%;
   display: none;
   animation: transsocialLoadLong 0.25s ease;
}

@keyframes transsocialLoadLong {
   0% {
      transform: translateY(100px);
   }

   100% {
      transform: translateY(0px);
   }
}

.loader #transSocialLoadFail {
   color: var(--error-text);
   transform: translateY(100px);
   display: none;
}

.loader img {
   animation: loading 1.5s ease infinite;
}

@keyframes loading {
   0% {
      transform: scale(1);
   }

   30% {
      transform: scale(1.3);
   }

   40% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.3);
   }

   70% {
      transform: scale(1);
   }

   100% {
      transform: scale(1);
   }
}