.policies {
   position: fixed;
   top: 0;
   right: 0;
   margin-top: 355px;
   margin-right: 15px;
   text-align: right;
   padding: 15px;
   border-radius: 10px;
   max-width: 350px;
   font-size: 14px;
}

.policies a {
   color: var(--text-semi-transparent);
   text-decoration: none;
   transition: all 0.1s linear;
}

.policies a:hover {
   text-decoration: underline;
   color: var(--main-color);
}

@media (max-width: 1148px) {
   .policies {
      display: none;
   }
}

@media (max-width: 1148px) {
   .policies {
      display: none;
   }
}