.sidebar .profileContainer {
   cursor: pointer;
}

.sidebar .profileContainer .profile {
   position: fixed;
   background: var(--background);
   transform: translateY(-100px);
   border-radius: 25px;
   padding: 5px;
}

.sidebar .profileContainer .profile button:hover {
   background: var(--header-color);
}