.quoteContainer {
   display: flex;
   align-items: flex-start;
   width: 50%;
   border: 1px solid var(--main-color);
   margin-left: 10px;
   border-radius: 15px;
   margin-bottom: 5px;
   transition: all 0.1s linear;
   padding: 10px;
   flex-direction: row;
}

.quoteContainer:hover {
   background: var(--profile-picture-bg);
}

@media (max-width: 596px) {
   .quoteContainer {
       width: 93%;
   }
}

.quotePfp {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
}

.quoteContent {
   display: flex;
   flex-direction: column;
   flex: 1; 
}

.quoteHeader {
   display: flex;
   flex-direction: column;
   margin-bottom: 5px;
}

.quoteDisplay {
   margin-bottom: 5px;
   word-wrap: break-word;
   word-break: break-word;
}

.quoteUsername {
   color: var(--text-semi-transparent);
   transform: translateY(-5px);
   word-wrap: break-word;
   word-break: break-word;
}

.quoteText {
   word-wrap: break-word;
   word-break: break-word;
   overflow: hidden;
   transform: translateX(-45px);
}

.quoteText .emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}