.formBox .badge {
   background: var(--main-color);
   padding: 2px 8px;
   border-radius: 12px;
   font-size: 0.8em;
   margin-left: 5px;
   color: var(--hovered-button-text);
   display: block;
   margin-bottom: 5px;
   margin-top: 10px;
}

.formBox .badge i {
   color: var(--hovered-button-text);
}