.sidebarPolicies {
   margin: 5px;
   display: none;
}

.sidebarPolicies a {
   color: var(--text-semi-transparent);
   text-decoration: none;
   font-size: 15px;
   transition: all 0.1s linear;
}

.sidebarPolicies a:hover {
   text-decoration: underline;
   color: var(--main-color);
}

@media (max-width: 768px) {
   .sidebarPolicies {
      display: block;
   }
}