textarea {
   background: transparent;
   font-size: 18px;
   margin-top: 10px;
   padding: 5px;
   width: 98%;
   border-radius: 5px;
   outline: none;
   resize: none;
   height: 100px;
   transition: all 0.1s linear;
   border: 1px solid black;
}

textarea:focus {
   border: 1px solid var(--main-color);
   box-shadow: 0 0 8px var(--main-color);
}

textarea.borderBlack {
   border: 1px solid black;
}

textarea.borderBlack:focus {
   border: 1px solid var(--main-color);
}