.update {
   border: 1px solid var(--text);
   padding: 15px;
   border-radius: 10px;
   background: var(--note-background);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@-moz-document url-prefix() {
   .update li {
      margin-left: 20px;
   }
}