.version-notice {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.version-notice a {
   color: var(--main-color);
}

.version-notice a:hover {
   color: var(--main-color-darker);
   text-decoration: none;
}