.xmasHat {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9;
   width: 80px;
   transform: translate(-5px, -35px);
   cursor: pointer;
}

@media (max-width: 1148px) {
   .xmasHat {
      transform: translate(40px, -35px);
   }
}